---
import Layout from "../layouts/Layout.astro";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import { SimpleLoader } from "../components/islands/SimpleLoader.tsx";
import HeroSection from "../components/sections/HeroSection.astro";
import LatestArticlesSection from "../components/sections/LatestArticlesSection.astro";
import TechStackSection from "../components/sections/TechStackSection.astro";
---

<Layout title="Karma & Code">
  <SimpleLoader client:only="react" minLoadTime={1500}>
    <div class="flex flex-col bg-background text-foreground">
      <Header />
      <HeroSection />
      <LatestArticlesSection />
      <TechStackSection />
      <Footer />
    </div>
  </SimpleLoader>
</Layout>
